body, html {
    height:100%;
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 0 0 1vh black;
    color:white;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}

#main-text {
    border-radius: 2vh;
    box-shadow: 0 0 2vh 5vh rgba(0, 0, 0, 0.363);;
    background-color:rgba(0, 0, 0, 0.363);
    font-size:2em;
    font-weight: lighter;
    grid-row:9 / span 7;
    grid-column:9 / span 10;
    text-align:center;
}

.grid {
    height:100vh;
    display: grid;
    grid-template: repeat(25, 4%) / repeat(25, 4%);
    overflow: hidden;
}

#header{
    height:15vh;
    grid-row: 1 / span 3;
    grid-column: 1 / span 25;
    opacity: 45%;
    background-color: black;
    box-shadow: 0 0 2vh 2vh black;
    z-index:-1;
}

#name {
    grid-row: 1 / span 1;
    grid-column: 3 / span 5;
}

h2{
    font-weight:lighter;
}

a {
    text-decoration:none;
}

#navbar {
    grid-column: 20 / span 6;
    grid-row: 2 / span 1;
}

.nav-heading{
    font-weight:100;
    text-shadow: 0 0 1vh black;
    color:white;
    margin-top: 0;
    margin:6%;

}

#photo {
    z-index:-2;
}

h1.main-text {
    margin-top:0;
    margin-bottom: 1%;
    font-size: 2.5em;
}
