body {
    font-family: 'PT Sans', sans-serif;
    
}

.grid {
    height:100vh;
    display: grid;
    grid-template: repeat(25, 4%) / repeat(25, 4%);
    overflow: hidden;
}

#name {
    grid-row: 2 / span 1;
    grid-column: 3 / span 5;
}

a {
    text-decoration:none;
}

#navbar {
    grid-column: 20 / span 6;
    grid-row: 3 / span 1;
}

.nav-heading{
    margin:6%;
}